@import "../css/index_tran";

* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  color: white;
  opacity: 0.95;
  z-index: 999;

  .nav-logo-img {
    width: 50px;
    height: 50px;
    background-image: url("../Img/harbor\ number\ 9\ logo\ img.png");
    background-position: center;
    background-size: cover;
  }
  .navbar-collapse {
    .navbar-nav a {
      color: white;
    }
  }
}

.all {
 
  .banner {
    .banner_image {
      width: 100%;
      height: 500px;
      background-image: url("../Img/number9-bannerimg.jpg");
      background-size: cover;
      background-position: center;

      @media (max-width: 470px) {
        height: 100vh;
      }
    }
  }

  // 我們的菜單
  #menu_list {
    margin: 20px 0;

    .mid_menu_all {
      .mid_menu {
        .menu_flex {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          padding: 0;

          .menu_icon {
            width: 150px;
            height: 150px;
            background-color: gray;
            border-radius: 50%;
            margin: 10px;

            @media (max-width: 470px) {
              width: 80px;
              height: 80px;
            }
          }
          .menu_text{
            h5{
              @media (max-width: 330px){
                font-size: 15px;
              }
            }
            p{
              @media (max-width: 330px){
                font-size: 10px;
              }

            }
          }
        }
      }
    }
  }

  //slide_ad 廣告輪播
  .swiper-container {
    width: 100%;
    height: 200px;
    .swiper-slide {
      background-position: center;
      background-size:contain ;
      background-repeat: repeat;
      
      @media (max-width: 760px){
        background-size: cover;
      }
    }
  }

  // 店家資訊
  #store_list {
    background-color: rgb(101, 84, 69);

    .store_info {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .card {
        padding: 0;
        margin: 20px auto;
        width: 300px;

        @media (max-width:320px) {
          width: 250px;
          
        }
      }
    }
  }

  // 關於我們
  #about_us {
    padding: 20px 0;
    background-color: rgb(157, 96, 94);
    color: white;
    text-align: center;
    height: 500px;

    .about_info {
      font-size: 30px;
      transform: translateY(20%);

      @media (max-width: 990px) {
        transform: translateY(12%);
        font-size: 25px;
      }
      @media (max-width: 600px) {
        transform: translateY(10%);
      }
      @media (max-width: 540px) {
        transform: translateY(1%);
        font-size: 20px;
      }
    }
  }

  // 結尾資訊
  #footer_end {
    width: 100%;
    height: 320px;
    background-color: black;
    margin: 0 auto;
    @media (max-width: 760px) {
      height: 600px;
    }
    .footer_list {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 760px) {
        flex-direction: column;
      }

      .footer_all {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        
        // 地圖
        .footer_map {
          padding: 0;
          margin: 0;
          
          iframe {
            width: 200px;
            height: 200px;

            @media (max-width: 760px) {
              width: 250px;
              height: 300px;
            transform:translateX(-20px)
            }
          }
        }
        // 外連結icon
        .footer_link {
          margin: 20px;
          text-align: center;
          @media (max-width: 760px) {
            transform:translateX(-15px)
          }
          .foot_icon {
            i {
              color: white;
            }
          }
        }
      }

      // 公司聯絡資訊
      .info_total {
        background-color: gray;
        width: 250px;
        padding: 10px;
        transform: translateX(60px) translateY(30px);
        @media (max-width: 760px) {
          transform: translateY(30px);
        }
        .info_area {
          width: 100%;
          height: 100%;
          color: white;
          a {
            color: white;
          }
        }
      }
    }
    .footer_copyright {
      width: 100%;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 760px) {
        transform: translateX(12px) translateY(45px);
      } 
      a {
        color: white;
      }
    }
  }
}
