@import "./index_ tran";

* {
  margin: 0;
  padding: 0;

  body {
    margin: 0 auto;

    .nav-logo-img {
      width: 50px;
      height: 50px;
      background-image: url("../Img/harbor\ number\ 9\ logo\ img.png");
      background-position: center;
      background-size: cover;
    }
    .banner {
      .banner_image {
        width: 100%;
        height: 50vh;
        // background-image: url();
        background-color: gray;
      }
    }
    .menu_list {
      margin: 0 auto;
      padding: 0;

      .mid_menu_all {
        
        span {
          font-size: 50px;

          .mid_menu {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu_icon {
              width: 30px;
              height: 30px;
              background-color: red($color: #000000);
            }
          }
        }
      }
    }
  }
}
